body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

#p1 {
  border: 1 px solid black;
  display: flex;
  justify-content: space-between;
}
#pc1 {
  border: 1 px solid black;
  height: 50px;
  width: 300px;
  display: flex;
}
#mailADD {
  border: none;
  height: 30px;
  width: 100px;
  text-decoration: none;
}
.mailCon {
  text-decoration: none;
}
#contactNo {
  border: none;
  height: 30px;
  width: 100px;
  text-decoration: none;
}
#social {
  display: flex;
}
#Logo_Nav {
  display: flex;
  justify-content: space-between;
  margin: auto 15px ;
}
#navp {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navs {
  text-decoration: none;
  width: 50px;
  display: flex;
  align-items: center;
}

#div1 {
  height: 80vh;
  width: 100%;
}
#HomeDiv {
  position: relative;
  text-align: center;
  color: white;
  height: 70vh;
}
#HomeDiv div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#HomeDiv button {
  border: none;
  height: 40px;
  width: 120px;
  background-color: blue;
  color: white;
}

#aboutUsP {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 50px;
}
#aboutUsP span {
  color: blue;
}
#aboutUsP button {
  border: none;
  height: 40px;
  width: 120px;
  background-color: blue;
  color: white;
}

#aboutUsP img {
  border-radius: 3%;
  height: 200px;
  width: 350px;
  transform: skewx(-3deg);
}
#aboutUsP-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutUsP p {
  color: grey;
}

#servicesP {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
#servicesP-divP1 {
  text-align: center;
  justify-content: center;
}
#servicesP span {
  color: gray;
}
#servicesP-divP2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 50px;
}
.items {
  width: 150px;
  height: 150px;
  margin: 10px;
  display: flex;
  align-items: last baseline;
  display: grid;
  grid-template-rows: 2fr 1fr;
  position: relative;
  text-align: center;
}
.items i {
  font-size: 35px;
  color: rgb(116, 192, 252);
  position: absolute;
  top: 20%;
  left: 35%;
  background-color: aqua;
  border-radius: 10px;
}
.items p {
  font-size: 16px;
}

#teamP {
  height: 750px;
}
#teamP-div1 {
  text-align: center;
  justify-content: center;
}
#teamP-div1 span {
  color: gray;
}
#teamP-div2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: space-around;
}
#teamP-div2 .items2 {
  height: 450px;
  width: 300px;
}
#teamP-div2 img {
  height: 300px;
  width: 300px;
  border-radius: 5%;
}

#portfolioP {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: auto 50px;
}
#portfolioP-div2 {
  display: grid;
  align-items: end;
}
#button1 {
  border: 1px solid blue;
  border-radius: 5%;
  background-color: white;
  color: blue;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#button1 a {
  text-decoration: none;
}

#projectP {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 50px;
  margin: auto 20px;
}
#projectP .items1 {
  height: 200px;
  width: 100%;
}
#projectP img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

#reviewsP {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#reviewsP .reviewsP-C {
  border-radius: 5%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 300px;
  width: 400px;
  background-color: rgb(225, 232, 232);
}
.reviewsP-C .reviews-Founders {
  margin: 10px;
}
.reviewsP-C .profiles-Founders {
  display: flex;
}
.reviewsP-C .profiles-Founders p {
  text-decoration: none;
  color: grey;
}
#reviewsP .reviewsP-C img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px;
}

#newsP-1 {
  text-align: center;
}
#newsP-1 p {
  color: grey;
}

#newsP-2 {
  display: flex;
  justify-content: space-between;
  height: 350px;
  margin: 50px;
}
#newsP-2-C1 {
  background-color: rgb(83, 83, 232);
  color: white;
}
#newsP-2 .newsDate {
  color: grey;
  font-size: 14px;
}
.newsid {
  border-radius: 3%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 280px;
  width: 250px;
  padding: 10px;
}
.newsid a {
  text-decoration: none;
}
.newsid img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.newsid div {
  display: flex;
  height: 80px;
}
#pp1 p {
  margin: 5px;
  height: 20px;
}

#viewMore {
  border: none;
  border-radius: 5%;
  height: 30px;
  width: 100px;
  background-color: rgb(83, 83, 232);
  color: white;
  display: block;
  margin: 0 auto;
}

#stay {
  text-align: center;
}
#stay a {
  text-decoration: none;
}

#feedbackP {
  display: flex;
  justify-content: space-around;
}
#feedbackC {
  height: 200px;
  width: 600px;
}
#feedbackC label {
  color: grey;
}
#feedbackC input {
  background-color: rgb(220, 217, 217);
  border: none;
  border-radius: 3%;
}
.inpt1 {
  width: 40%;
}
.inpt2 {
  width: 100%;
}
#sub1 {
  text-align: center;
}
#feedbackC textarea{
    background-color: rgb(220, 217, 217);
    border: none;
    border-radius: 5%;
}
#sub1 #formSubmit {
  border: none;
  border-radius: 2%;
  background-color: blue;
  color: white;
  padding: 10px 25px;
}

#companies {
  display: flex;
  justify-content: space-between;
  margin: auto 50px;
}
.i {
  font-size: 40px;
}

footer{
    background-color: rgb(7, 21, 34);
    color: white;
    height: 380px;
    width: 100%;
}
#footerPC1{
    display: flex;
    justify-content: space-around;

}
#footerC4 button{
    border: none;
    color: white;
    background-color: blue;
    height: 30px;
    width: 70px;
    margin: 10px auto;
}
hr{
    width: 90%;
    color: grey;
}
#footerPC2{
    display: flex;
    justify-content: space-between;
}
#footerC5{
    margin: 20px;
}
#footerC6{
    margin: 20px;
}