<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css"
      integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Spray+Paint&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <header>
      <div id="p1">
        <div id="pc1">
          <div id="mailADD">
            <i
              class="fa-solid fa-envelope"
              style="color: rgb(116, 192, 252)"
            ></i>
            <a class="mailCon" href="mailto:yashregundwar123@gmil.com"
              >Email us</a
            >
          </div>
          <div id="contactNo">
            <i
              class="fa-solid fa-phone-flip fa-rotate-90"
              style="color: rgb(116, 192, 252)"
            ></i>
            <a class="mailCon" href="">Call us</a>
          </div>
        </div>
        <div id="pc2">
          <div id="social">
            <div><i class="fa-brands fa-facebook-f"></i></div>
            <div><i class="fa-brands fa-twitter"></i></div>
            <div><i class="fa-brands fa-youtube"></i></div>
            <div><i class="fa-brands fa-linkedin"></i></div>
          </div>
        </div>
      </div>

      <div id="Logo_Nav">
        <div id="Logo">
          <img
            src="./assets/Logo.webp"
            alt="Not Available"
            height="80px"
            width="150px"
          />
        </div>
        <div id="navp">
          <!-- <nav> -->
          <a class="navs" href="#">Home</a>
          <a class="navs" href="#">About</a>
          <a class="navs" href="#">Services</a>
          <a class="navs" href="#">Projects</a>
          <a class="navs" href="#">News</a>
          <a class="navs" href="#">Contact</a>
          <!-- </nav> -->
        </div>
      </div>
      <br /><br /><br /><br />
    </header>

    <div id="HomeDiv">
      <img
        src="./assets/desktop image.webp"
        alt="Not Available"
        width="100%"
        height="100%"
      />
      <div>
        <p>Easy Way To Build Perfect Websites</p>
        <h1>Beautiful handcrafted templates for your website</h1>
        <button>Read More</button>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div id="aboutUsP">
      <div id="aboutUsP-div1">
        <p>About Us</p>
        <h3>We are <span>Professional Teams</span> to growth your business</h3>
        <p>
          But i must explain to you how all this mistaken idea of of denouncing
          pleasure and praising pain was born I will give you a complate account
          of the system, and expound the actual teachings of the great explore
          of
        </p>
        <button>Read More</button>
      </div>
      <div id="aboutUsP-div2">
        <img src="./assets/people discussingjpg.jpg" alt="Not Available" />
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="servicesP">
      <div id="servicesP-divP1">
        <span>Our Services</span>
        <h3>See what can we do for your Projects</h3>
      </div>
      <div id="servicesP-divP2">
        <div class="items">
          <i class="fa-brands fa-html5"></i>
          <p>Web Development</p>
        </div>
        <div class="items">
          <i class="fa-brands fa-jxl"></i>
          <p>Graphics Design</p>
        </div>
        <div class="items">
          <i class="fa-solid fa-ranking-star"></i>
          <p>SEO & Marketing</p>
        </div>
        <div class="items">
          <i class="fa-solid fa-headset"></i>
          <p>Customer Services</p>
        </div>
        <div class="items">
          <i class="fa-solid fa-mobile"></i>
          <p>App Development</p>
        </div>
        <div class="items">
          <i class="fa-solid fa-palette"></i>
          <p>UI/UX Design</p>
        </div>
        <div class="items">
          <i class="fa-solid fa-brush"></i>
          <p>Product Design</p>
        </div>
        <div class="items">
          <i class="fa-solid fa-chart-line"></i>
          <p>Data Analyst</p>
        </div>
      </div>
    </div>

    <div id="teamP">
      <div id="teamP-div1">
        <span>Our Teams</span>
        <h3>The Expert Team on</h3>
        <h3>Revetive</h3>
      </div>
      <div id="teamP-div2">
        <div class="items2">
          <img src="./assets/Portrait 1.webp" alt="Not Available" />
          <h4>Walter White</h4>
          <p>Chief Executive Officer</p>
          <a href="#"
            ><i
              class="fa-regular fa-comment"
              style="color: rgb(116, 192, 252)"
            ></i
          ></a>
          <a href="#"
            ><i class="fa-solid fa-phone" style="color: rgb(116, 192, 252)"></i
          ></a>
          <a href="#"
            ><i
              class="fa-solid fa-envelope"
              style="color: rgb(116, 192, 252)"
            ></i
          ></a>
        </div>
        <div class="items2">
          <img src="./assets/Portrait 2.webp" alt="Not Available" />
          <h4>Jessy Pinkman</h4>
          <p>Cheif Technology</p>
          <a href="#"
            ><i
              class="fa-regular fa-comment"
              style="color: rgb(116, 192, 252)"
            ></i
          ></a>
          <a href="#"
            ><i class="fa-solid fa-phone" style="color: rgb(116, 192, 252)"></i
          ></a>
          <a href="#"
            ><i
              class="fa-solid fa-envelope"
              style="color: rgb(116, 192, 252)"
            ></i
          ></a>
        </div>
        <div class="items2">
          <img src="./assets/Portrait 3.webp" alt="Not Available" />
          <h4>Gus Fring</h4>
          <p>Product manager</p>
          <a href="#"
            ><i
              class="fa-regular fa-comment"
              style="color: rgb(116, 192, 252)"
            ></i
          ></a>
          <a href="#"
            ><i class="fa-solid fa-phone" style="color: rgb(116, 192, 252)"></i
          ></a>
          <a href="#"
            ><i
              class="fa-solid fa-envelope"
              style="color: rgb(116, 192, 252)"
            ></i
          ></a>
        </div>
      </div>
    </div>

    <div id="portfolioP">
      <div id="portfolioP-div1">
        <span>Portfolio</span>
        <h3>Our Latest Projects</h3>
      </div>
      <div id="portfolioP-div2">
        <div id="button1">
          <a href="#"
            >Browser Projects
            <i
              class="fa-solid fa-arrow-right"
              style="color: rgb(116, 192, 252)"
            ></i
          ></a>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div id="projectP">
      <div id="items1" class="items1">
        <img src="./assets/projects 1.jpg" alt="Not Available" />
      </div>
      <div id="items2" class="items1">
        <img src="./assets/project2.avif" alt="Not Available" />
      </div>
      <div id="items3" class="items1">
        <img src="./assets/project3.jpg" alt="Not Available" />
      </div>
      <div id="items4" class="items1">
        <img src="./assets/project4.jpg" alt="Not Available" />
      </div>
      <div id="items5" class="items1">
        <img src="./assets/project5.jpg" alt="Not Available" />
      </div>
      <div id="items6" class="items1">
        <img src="./assets/project 6.jpg" alt="Not Available" />
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div id="reviewsP">
      <div class="reviewsP-C" id="reviewsP-1">
        <div class="reviews-Founders">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium, modi aliquid? Mollitia labore sunt nisi dolore porro
            non, perspiciatis voluptates. Labore nobis voluptate numquam.
            Nostrum voluptates quam optio doloribus ullam!
          </p>
        </div>
        <div class="profiles-Founders">
          <img src="./assets/PP Guido Van Rossum Py.webp" alt="Not Available" />
          <h4>
            Guido Van Rossum <br />
            <p>Python guy</p>
          </h4>
        </div>
      </div>
      <div class="reviewsP-C" id="reviewsP-2">
        <div class="reviews-Founders">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium, modi aliquid? Mollitia labore sunt nisi dolore porro
            non, perspiciatis voluptates. Labore nobis voluptate numquam.
            Nostrum voluptates quam optio doloribus ullam!
          </p>
        </div>
        <div class="profiles-Founders">
          <img src="./assets/PP James Gosling Java.webp" alt="Not Available" />
          <h4>
            James Gosling
            <p>Java guy</p>
          </h4>
        </div>
      </div>
      <div class="reviewsP-C" id="reviewsP-3">
        <div class="reviews-Founders">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium, modi aliquid? Mollitia labore sunt nisi dolore porro
            non, perspiciatis voluptates. Labore nobis voluptate numquam.
            Nostrum voluptates quam optio doloribus ullam!
          </p>
        </div>
        <div class="profiles-Founders">
          <img
            src="./assets/PP Tim berners-Lee Html.webp"
            alt="Not Available"
          />
          <h4>
            Tim berners-Lee
            <p>HTML guy</p>
          </h4>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div id="newsP-1">
      <p>News</p>
      <h3>Read Our Latest News</h3>
    </div>
    <br />
    <br />

    <div id="newsP-2">
      <div id="newsP-2-C1" class="newsid">
        <p>Sam Newman</p>
        <span class="newsDate">23 Apr 2020</span>
        <h4>What is business Management?</h4>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <a href="#" class="readMore" style="color: white">Read More ></a>
      </div>
      <div id="newsP-2-C2" class="newsid">
        <div id="pp1">
          <img
            src="./assets/PP Tim berners-Lee Html.webp"
            alt="Not Available"
          />
          <p>
            Sam Newman
            <br />
            <span class="newsDate">23 Apr 2020</span>
          </p>
        </div>
        <h4>What is business Management?</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <br />
        <br />
        <br />
        <a href="#" class="readMore">Read More ></a>
      </div>
      <div id="newsP-2-C3" class="newsid">
        <div id="pp1">
          <img src="./assets/PP James Gosling Java.webp" alt="Not Available" />
          <p>
            Sam Newman
            <br />
            <span class="newsDate">23 Apr 2020</span>
          </p>
        </div>
        <h4>What is business Management?</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <br />
        <br />
        <br />
        <a href="#" class="readMore">Read More ></a>
      </div>
      <div id="newsP-2-C4" class="newsid">
        <div id="pp1">
          <img src="./assets/PP Guido Van Rossum Py.webp" alt="Not Available" />
          <p>
            Sam Newman
            <br />
            <span class="newsDate">23 Apr 2020</span>
          </p>
        </div>
        <h4>What is business Management?</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <br />
        <br />
        <br />
        <a href="#" class="readMore">Read More ></a>
      </div>
    </div>

    <button id="viewMore">View More</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="stay">
      <h3>Stay in Touch</h3>
      <br />
      <p>
        Just say hello or drop us a line. You can manually send us email on
        <a href="#">example@mail.com</a>
      </p>
    </div>

    <form action="submit">
      <div id="feedbackP">
        <div id="feedbackC">
          <label for="name">Name</label>
          <input id="name" type="text" placeholder="Xyz Xyz" class="inpt1" />
          <label for="mail">Email</label>
          <input
            type="email"
            placeholder="xyz@mail.com"
            id="mail"
            class="inpt1"
          />
          <br />
          <label for="subject">Subject</label>
          <input
            type="text"
            placeholder="Subject"
            id="subject"
            class="inpt2"
          /><br />
          <label for="message">Message</label>
          <textarea
            name="feedback"
            rows="10"
            class="inpt2"
            placeholder="Enter Message"
          ></textarea>
        </div>
      </div>
    </form>
    <br />
    <br />
    <br />
    <div id="sub1"><button id="formSubmit">Submit</button></div>
    <br />
    <br />
    <br />
    <br />
    <br />

    <div id="companies">
      <div class="subCom">
        <i class="fa-brands fa-airbnb i" style="color: rgb(116, 192, 252)"></i>
      </div>
      <div class="subCom">
        <i class="fa-brands fa-google i" style="color: rgb(116, 192, 252)"></i>
      </div>
      <div class="subCom">
        <i
          class="fa-brands fa-mailchimp i"
          style="color: rgb(116, 192, 252)"
        ></i>
      </div>
      <div class="subCom">
        <i class="fa-brands fa-paypal i" style="color: rgb(116, 192, 252)"></i>
      </div>
      <div class="subCom">
        <i class="fa-brands fa-stripe i" style="color: rgb(116, 192, 252)"></i>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />

    <footer>
      <div id="footerP">
        <br>
        <br>
        <br>
        <br>
        <div id="footerPC1">
          <div id="footerC1">
            <img
              src="./assets/Logo.webp"
              alt="Not Available"
              height="80px"
              width="150px"
            />
          </div>
          <div id="footerC2">
            <h4>Contact Information</h4>
            <address>
              30 The GreenHouse, <br />Custard factory,<br />London, E2 8DY.
            </address>
            <p>Email: example@mail.com</p>
            <p>Phone: +00 112323980</p>
          </div>
          <div id="footerC3">
            <h4>Company</h4>
            <p>
              Career <br />
              Resources <br />
              News & Feed
            </p>
          </div>
          <div id="footerC4">
            <h4>Newsletter</h4>
            <br />
            <input type="text" placeholder="Enter Your email" /><br />
            <button>Submit</button>
          </div>
        </div>
        <hr>
        <div id="footerPC2">
          <div id="footerC5"><p>Copyright 2020. This template designed by <a href="#"> MACode ID</a></p></div>
          <div id="footerC6"><div id="social">
            <div><i class="fa-brands fa-facebook-f"></i></div>
            <div><i class="fa-brands fa-twitter"></i></div>
            <div><i class="fa-brands fa-youtube"></i></div>
            <div><i class="fa-brands fa-linkedin"></i></div>
          </div></div>
        </div>
      </div>
    </footer>
  </body>
</html>
